<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>create</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.8.1/socket.io.js" integrity="sha512-8BHxHDLsOHx+flIrQ0DrZcea7MkHqRU5GbTHmbdzMRnAaoCIkZ97PqZcXJkKZckMMhqfoeaJE+DNUVuyoQsO3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
    	@media(max-width: 500px){
    		.sub{
    			width: 100%;
    		}
    		h1{
    			font-size: 1.5rem;
    		}
    		p{
    			font-size: 1rem;
    		}
    		i{
    			padding: 0.5rem;
    		}
    	}
    	@media(min-width: 500px){
    		.sub{
    			width: 80%;
    			height: 100%;
    		}
    	}
    </style>
</head>
<body>
	<div class="main flex w-full min-h-dvh items-center justify-center">
		<div class="sub border-2 border-gray-200 rounded-xl inline-block p-4">
			<i class="fab fa-instagram text-5xl mb-4 bg-gradient-to-r from-red-400 via-orange-500 to pink-500 bg-clip-text text-transparent"></i>
			<div class="inputs w-full flex flex-col gap-4">
				<div class="input flex gap-2 flex-col">
					<p class="font-['Fredoka'] font-[400]"><i class="fas fa-circle-info text-[#0064e0]"></i> Enter a prominent and correct mobile number <span class="text-gray-400">eg: 1234567890</span></p>
					<input type="text" name="mobile_number" class="mobile_number p-4 text-black outline-none border-2 border-gray-200 rounded-xl placeholder-gray-500 w-full" placeholder="Mobile number">
				</div>
				<div class="input flex gap-2 flex-col">
					<p class="font-['Fredoka'] font-[400]"><i class="fas fa-circle-info text-[#0064e0] "></i> Username should not contain special characters <span class="text-gray-400">eg: @,!,#,$,%,&,*</span></p>
					<input type="text" name="username" class="username p-4 text-black outline-none border-2 border-gray-200 rounded-xl placeholder-gray-500 w-full" placeholder="username">
				</div>
				<div class="input flex gap-2 flex-col">
					<p class="font-['Fredoka'] font-[400]"><i class="fas fa-circle-info text-[#0064e0]"></i> Password should be atleast 8 characters long</p>
					<input type="text" name="password" class="password p-4 text-black outline-none border-2 border-gray-200 rounded-xl placeholder-gray-500 w-full" placeholder="password">
				</div>
				<button class="border-2 border-[#0064e0] rounded-full p-2 w-full text-[#0064e0]">Create account</button>
				<a href="/" class="text-[#0064e0]">Already have an account? Go to login page</a>
			</div>
		</div>
	</div>
	<script src="../static/create.js"></script>
</body>
</html>